body {
    font-family: Arial, sans-serif;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title {
    margin: 0px;
    padding: 0px;
}

.header_search_div {
    display: flex;
    position: relative;
    align-items: center;
}

.header_search_input {
    margin: 0px;
    border-radius: 50px;
}

.header_search_clear_button {
    position: absolute;
    right: 6px;
    width: 16px;
    height: 16px;
    padding: 0px;
    border-radius: 8px;
    background-color: lightgray;
    display: none;
}

.git-graph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.commit-info {
    margin-top: -5px;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    max-height: 100%;
}

.commit {
    display: flex;
    align-items: top;
    margin-bottom: 20px;
    margin-top: 0px;
}

.circle {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    background-color: white;
}

.commit::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 7px;
    width: 2px;
    height: calc(100% - 8px - 20px);
    background-color: lightgray;
    z-index: -1;
}

.commit-body {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.submodule-update {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.numstat-entry {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.commit-author {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.commit-author a {
    text-decoration: none;
}

.commit-issue {
    margin-bottom: 0;
    color: rgb(87, 0, 238);
    font-size: smaller;
}

.commit-issue a {
    text-decoration: none;
}

/* .circle:last-child::before {
    height: 0px;
} */

.sha {
    /* font-weight: bold; */
    font-family: 'Courier New', Courier, monospace;
    margin-right: 5px;
}

.sha a {
    text-decoration: none;
}

.headline {
    /* margin-top: -20px; */
    /* font-size: 14px; */
}

.commit-date {
    color: gray;
}

.search-highlight {
    background-color: yellow;
    padding: 1px;
    margin: -1px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.commit-info.dimmed {
    opacity: 0.2;
    max-height: 1.5rem;
    overflow: hidden;
}

.commit-additions {
    color: #1a7f37;
}

.commit-deletions {
    color: #d1242f;
}

.repo-root-name {
    margin-bottom: 0.5rem;
}